---
import Breadcrumb from "../components/Breadcrumb.astro";
import Layout from "../layouts/Layout.astro";



---
<Layout>
    <Breadcrumb title="Contact Us" description="Contact Us For Any Queries" image="assets/images/banner/banner-bg.png" />

     <section class="contact-main volunteer">
        <div class="container">
           <div class="row gutter-40">
              <div class="col-12 col-xl-6">
                 <div class="contact__content">
                    <div class="section__content" data-aos="fade-up" data-aos-duration="1000">
                       <span class="sub-title"><i class="icon-donation"></i> Get In Touch</span>
                       <h2 class="title-animation">Contact Us</h2>
                       <p>Get in touch with us to make a difference! Whether you have questions, need assistance, or want to support our cause, we're here to help.
                       </p>
                    </div>
                    <div class="contact-main__inner cta">
                       <div class="contact-main__single">
                          <div class="thumb">
                             <i class="fa-solid fa-location-dot"></i>
                          </div>
                          <div class="content">
                             <h6>Location</h6>
                             <p><a href="https://maps.app.goo.gl/9RZXDNLjNQw92Ec37" target="_blank">
                                962 ALUM ROCK ROAD
                                BIRMINGHAM
                                B8 2LS
                                </a>
                             </p>
                          </div>
                       </div>
                       <div class="contact-main__single">
                          <div class="thumb">
                             <i class="fa-solid fa-phone"></i>
                          </div>
                          <div class="content">
                             <h6>Phone</h6>
                             <p><a href="tel:+44 01212463953">+44 01212463953</a></p>
                          </div>
                       </div>
                     
                    </div>
                    <div class="contact-main__thumb cta">
                        <div style="text-decoration:none; overflow:hidden;max-width:100%;width:700px;height:350px;"><div id="google-maps-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=	962+ALUM+ROCK+ROAD+BIRMINGHAM+B8+2LS&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><style>#google-maps-display img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>               </div>
                 </div>
              </div>
              <div class="col-12 col-xl-6">
                 <div class="contact__form volunteer__form checkout__form" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="100">
                    <div class="volunteer__form-content">
                       <h4 class="title-animation">Fill Up The Form</h4>
                       <p>Your email address will not be published. Required fields are marked *</p>
                    </div>
                    <form action="#" method="post" class="cta">
                       <div class="input-single">
                          <input type="text" name="full-name" id="fullName" placeholder="Enter Name" required>
                          <i class="fa-solid fa-user"></i>
                       </div>
                       <div class="input-single">
                          <input type="email" name="c-email" id="cEmail" placeholder="Enter Email" required>
                          <i class="fa-solid fa-envelope"></i>
                       </div>
                       <div class="input-single">
                          <input type="text" name="phone-number" id="phoneNumber" placeholder="Phone Number"
                             required>
                          <i class="fa-solid fa-phone"></i>
                       </div>
                       <div class="input-single alter-input">
                          <textarea name="contact-message" id="contactMessage"
                             placeholder="Your Message..."></textarea>
                          <i class="fa-solid fa-comments"></i>
                       </div>
                       <div class="form-cta">
                          <button type="submit" aria-label="submit message" title="submit message"
                             class="btn--primary">Submit <i
                             class="fa-solid fa-arrow-right"></i></button>
                       </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </section>
</Layout>