---

import Layout from '../layouts/Layout.astro'
---
<Layout>

     <!-- ==== banner section start ==== -->
     <section class="common-banner">
        <div class="container">
           <div class="row">
              <div class="common-banner__content text-center">
                 <span class="sub-title"><i class="icon-donation"></i>Start donating poor people</span>
                 <h2 class="title-animation">Our Team</h2>
              </div>
           </div>
        </div>
        <div class="banner-bg">
           <img src="/assets/images/banner-1.jpg" alt="Image">
        </div>
        <div class="shape">
           <img src="/assets/images/shape.png" alt="Image">
        </div>
        <div class="sprade" data-aos="zoom-in" data-aos-duration="1000">
           <img src="/assets/images/sprade-base.png" alt="Image" class="base-img">
        </div>
     </section>
     <!-- ==== / banner section end ==== -->
     <!-- ==== team section start ==== -->
     <section class="team">
        <div class="container">
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10 col-xl-6">
                 <div class="section__header text-center" data-aos="fade-up" data-aos-duration="1000">
                    <span class="sub-title"><i class="icon-donation"></i>Start donating poor
                    people</span>
                    <h2 class="title-animation">Meet Our Volunteer
                       <span>Team</span> members
                    </h2>
                 </div>
              </div>
           </div>
           <div class="row gutter-30">
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                  <div class="team__single van-tilt">
                     <div class="team__single-thumb">
                        <img src="assets/images/team/fiaz.png" alt="Image">
                        
                     </div>
                     <div class="team__single-content">
                        <h6>Sahibzada Pir Sultan Fiaz Ul Hassan Sarwari Qadri</h6>
                        <p>Chief Patron</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                  <div class="team__single van-tilt">
                     <div class="team__single-thumb">
                        <img src="assets/images/team/niaz.png" alt="Image">
                        
                     </div>
                     <div class="team__single-content">
                        <h6>Sahibzada Pir Sultan Niaz Ul Hassan Sarwari Qadri</h6>
                        <p>Chairman HSBT</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                  <div class="team__single van-tilt">
                     <div class="team__single-thumb">
                        <img src="assets/images/team/ittehad.png" alt="Image">
                        
                     </div>
                     <div class="team__single-content pb-5">
                        <h6>Mian Ittehad Ahmad Gudu</h6>
                        <p>Chairman SBC</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
               <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                  <div class="team__single van-tilt">
                     <div class="team__single-thumb">
                        <img src="assets/images/team/faiq.png" alt="Image">
                        
                     </div>
                     <div class="team__single-content pb-5">
                        <h6>Shahab faiq</h6>
                        <p class="pb-4">Coordinator</p>
                     </div>
                  </div>
               </div>
            </div>
             <div class="col-12 col-sm-6 col-xl-3">
                <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                   <div class="team__single van-tilt">
                      <div class="team__single-thumb">
                         <img src="/assets/images/team/allama.png" alt="Image">
                         
                      </div>
                      <div class="team__single-content">
                         <h6>Allama qari Aata ur Rasool Aatfi</h6>
                         <p>Imam Wa Khateeb</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-12 col-sm-6 col-xl-3">
               <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                  <div class="team__single van-tilt">
                     <div class="team__single-thumb">
                        <img src="/assets/images/team/zeeshan.png" alt="Image">
                        
                     </div>
                     <div class="team__single-content">
                        <h6>Hafiz Muhammad Zeeshan</h6>
                        <p>Teacher</p>
                     </div>
                  </div>
               </div>
            </div>
             <div class="col-12 col-sm-6 col-xl-3">
                <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                   <div class="team__single van-tilt">
                      <div class="team__single-thumb">
                         <img src="/assets/images/team/javed.png" alt="Image">
                         
                      </div>
                      <div class="team__single-content pb-5">
                         <h6>Hafiz Javed Akhtar</h6>
                         <p>Teacher</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-12 col-sm-6 col-xl-3">
                <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                   <div class="team__single van-tilt">
                      <div class="team__single-thumb">
                         <img src="/assets/images/team/rafia.png" alt="Image">
                         
                      </div>
                      <div class="team__single-content">
                         <h6>Qari Hafiz Rafia Sialvi</h6>
                         <p>Teacher</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-12 col-sm-6 col-xl-3">
                <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                   <div class="team__single van-tilt">
                      <div class="team__single-thumb">
                         <img src="/assets/images/team/jahangir.png" alt="Image">
                         
                      </div>
                      <div class="team__single-content">
                         <h6>Jahangir Ahmed</h6>
                         <p>Admin</p>
                      </div>
                   </div>
                </div>
             </div>
            
             <div class="col-12 col-sm-6 col-xl-3">
                <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                   <div class="team__single van-tilt">
                      <div class="team__single-thumb">
                         <img src="/assets/images/team/zafraan.png" alt="Image">
                         
                      </div>
                      <div class="team__single-content">
                         <h6>Zafraan khan</h6>
                         <p>Public Relations Manager</p>
                      </div>
                   </div>
                </div>
             </div>
           
          
             <div class="col-12 col-sm-6 col-xl-3">
                <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                   <div class="team__single van-tilt">
                      <div class="team__single-thumb">
                         <img src="/assets/images/team/adil.png" alt="Image">
                         
                      </div>
                      <div class="team__single-content">
                         <h6>Hafiz Adil Parvez</h6>
                         <p>Teacher</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-12 col-sm-6 col-xl-3">
                <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                   <div class="team__single van-tilt">
                      <div class="team__single-thumb">
                         <img src="/assets/images/team/ahsan.png" alt="Image">
                         
                      </div>
                      <div class="team__single-content">
                         <h6>Hafiz Ahsan Mujtaba</h6>
                         <p>Teacher</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-12 col-sm-6 col-xl-3">
                <div class="team__single-wrapper" data-aos="fade-up" data-aos-duration="1000">
                   <div class="team__single van-tilt">
                      <div class="team__single-thumb">
                         <img src="/assets/images/team/zulfiqar.png" alt="Image">
                         
                      </div>
                      <div class="team__single-content">
                         <h6>Zulfiqar Rasheed </h6>
                         <p>Care Taker</p>
                      </div>
                   </div>
                </div>
             </div>
           </div>
           <!-- <div class="row">
              <div class="col-12">
                 <div class="pagination-wrapper" data-aos="fade-up" data-aos-duration="1000">
                    <ul class="pagination main-pagination">
                       <li>
                          <button>
                          <i class="fa-solid fa-angles-left"></i>
                          </button>
                       </li>
                       <li>
                          <a href="blog-list.html" class="active">1</a>
                       </li>
                       <li>
                          <a href="blog-list.html" >2</a>
                       </li>
                       <li>
                          <a href="blog-list.html">3</a>
                       </li>
                       <li>
                          <button>
                          <i class="fa-solid fa-angles-right"></i>
                          </button>
                       </li>
                    </ul>
                 </div>
              </div>
           </div> -->
        </div>
     </section>
     <!-- ==== / team section end ==== -->
</Layout>