---
// Import the fetchPrograms function
import { fetchPrograms } from "./api.js";

type Program = {
  program_id: number;
  program_name: string;
  image: string;
  program_rate: number;

  //   program_image_flag: string;
  //   program_rate_id: number | null;
  //   program_rate: number | null;
  //   pr_start_date: string | null;
  //   pr_end_date: string | null;
  //   country_id: number | null;
  //   country_name: string | null;
  //   any_amount: string;
  //   program_is_animal: string;
  //   other_amount: string;
    donation_url: string;
  //   direct_debit_url: string;
  //   programId: number;
};

// Use fetchPrograms to get data
const data = await fetchPrograms();
const responseData: Program[] = data; // Assuming the response is an array of programs
// var programId: any = [];
var { programId } = Astro.props;
---

<section class="cause" data-background="/assets/images/cause/cause-bg.png">
  <div class="container">
    <div class="row gutter-30 align-items-center">
      <div class="col-12 col-md-8 col-xl-7">
        <div class="section__header">
          <span class="sub-title"
            ><i class="icon-donation"></i>Providing relief to those in distress.</span
          >
          <h2 class="title-animation">
            Help & <span>donate</span> them when they're in need
          </h2>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xl-5">
        <div class="slider-navigation">
          <button
            type="button"
            aria-label="prev slide"
            title="prev slide"
            class="prev-cause slider-btn"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button
            type="button"
            aria-label="next slide"
            title="next slide"
            class="next-cause slider-btn slider-btn-next"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="cause__slider-wrapper">
          <div class="cause__slider swiper">
            <div class="swiper-wrapper">
              {
                responseData
                  .filter(
                    (program) =>
                      !programId ||
                      !programId.length ||
                      programId.includes(program.program_id)
                  )
                  .slice(0, 8)
                  .map((program) => (
                    <div class="swiper-slide">
                      <div class="cause__slider-inner">
                        <div class="cause__slider-single">
                          <div class="thumb">
                            <a href={program.donation_url}>
                              <img
                                src="/assets/images/cause/one.png"
                                alt="Image"
                              />
                            </a>
                            <div class="tag">
                              <a href="our-causes.html">United Kingdom</a>
                            </div>
                          </div>
                          <div class="content">
                            <h6>
                              <a href="/donate">
{program.program_name}                              </a>
                            </h6>
                          </div>
                          <div class="cause__slider-cta">
                            <div class="cause__progress progress-bar-single">
                              <div class="cause-progress__bar">
                                <div
                                  class="progress-bar-wrapper"
                                  data-percent="85%"
                                >
                                  <div class="progress-bar">
                                    <div class="progress-bar-percent"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="cause-progress__goal">
                                <p>
                                  <span class="goal" id="program-rate">£ {program.program_rate ? program.program_rate:"Any Amount"}</span>
                                </p>
                              </div>
                            </div>
                            <div class="cause__cta">
                              <a
                                href="http://sultan-bahu-centre.tscube.co.in"
                                aria-label="donate now"
                                title="donate now"
                                class="btn--secondary"
                              >
                                Donate Now
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="cause-pagination pagination-one"></div>
      </div>
    </div>
  </div>
  <div class="spade">
    <img src="/assets/images/help/spade.png" alt="Image" />
  </div>
</section>
<style>
   #program-rate {
    font-size: 20px;
    font-weight: 700;
    color: black;

    
    
    
    }
</style>
