<section class="cause" data-background="assets/images/cause/cause-bg.png">
    <div class="container">
       <div class="row gutter-30 align-items-center">
          <div class="col-12 col-md-8 col-xl-7">
             <div class="section__header">
                <span class="sub-title"><i class="icon-donation"></i>Start donating poor
                people</span>
                <h2 class="title-animation">Help & <span>donate</span> them when
                   they're in need
                </h2>
             </div>
          </div>
          <div class="col-12 col-md-4 col-xl-5">
             <div class="slider-navigation">
                <button type="button" aria-label="prev slide" title="prev slide"
                   class="prev-cause slider-btn">
                <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button type="button" aria-label="next slide" title="next slide"
                   class="next-cause slider-btn slider-btn-next">
                <i class="fa-solid fa-arrow-right"></i>
                </button>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-12">
             <div class="cause__slider-wrapper">
                <div class="cause__slider swiper">
                   <div class="swiper-wrapper">
                      <div class="swiper-slide">
                         <div class="cause__slider-inner">
                            <div class="cause__slider-single">
                               <div class="thumb">
                                  <a href="cause-details.html">
                                  <img src="assets/images/cause/one.png" alt="Image">
                                  </a>
                                  <div class="tag">
                                     <a href="our-causes.html">Health</a>
                                  </div>
                               </div>
                               <div class="content">
                                  <h6><a href="cause-details.html">Children we work with</a></h6>
                                  <p>Lorem ipsum dolor sit amet, consete
                                     sadipscing elitr, sed diam nonum
                                  </p>
                               </div>
                               <div class="cause__slider-cta">
                                  <div class="cause__progress progress-bar-single">
                                     <div class="cause-progress__intro">
                                        <p><span>Donation</span>
                                           <span class="percent-value">85%</span>
                                        </p>
                                     </div>
                                     <div class="cause-progress__bar">
                                        <div class="progress-bar-wrapper" data-percent="85%">
                                           <div class="progress-bar">
                                              <div class="progress-bar-percent">
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="cause-progress__goal">
                                        <p>Raised: <span class="raised">$8500</span></p>
                                        <p>Goal: <span class="goal">$1,0000</span></p>
                                     </div>
                                  </div>
                                  <div class="cause__cta">
                                     <a href="donate-us.html" aria-label="donate now"
                                        title="donate now" class="btn--secondary">Donate Now</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="swiper-slide">
                         <div class="cause__slider-inner">
                            <div class="cause__slider-single">
                               <div class="thumb">
                                  <a href="cause-details.html">
                                  <img src="assets/images/cause/two.png" alt="Image">
                                  </a>
                                  <div class="tag">
                                     <a href="our-causes.html">Food</a>
                                  </div>
                               </div>
                               <div class="content">
                                  <h6><a href="cause-details.html">Help For Education</a></h6>
                                  <p>Lorem ipsum dolor sit amet, consete
                                     sadipscing elitr, sed diam nonum
                                  </p>
                               </div>
                               <div class="cause__slider-cta">
                                  <div class="cause__progress progress-bar-single">
                                     <div class="cause-progress__intro">
                                        <p><span>Donation</span>
                                           <span class="percent-value">90%</span>
                                        </p>
                                     </div>
                                     <div class="cause-progress__bar">
                                        <div class="progress-bar-wrapper" data-percent="90%">
                                           <div class="progress-bar">
                                              <div class="progress-bar-percent">
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="cause-progress__goal">
                                        <p>Raised: <span class="raised">$8500</span></p>
                                        <p>Goal: <span class="goal">$1,0000</span></p>
                                     </div>
                                  </div>
                                  <div class="cause__cta">
                                     <a href="donate-us.html" aria-label="donate now"
                                        title="donate now" class="btn--secondary">Donate Now</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="swiper-slide">
                         <div class="cause__slider-inner">
                            <div class="cause__slider-single">
                               <div class="thumb">
                                  <a href="cause-details.html">
                                  <img src="assets/images/cause/three.png" alt="Image">
                                  </a>
                                  <div class="tag">
                                     <a href="our-causes.html">Health</a>
                                  </div>
                               </div>
                               <div class="content">
                                  <h6><a href="cause-details.html">Help For Food</a></h6>
                                  <p>Lorem ipsum dolor sit amet, consete
                                     sadipscing elitr, sed diam nonum
                                  </p>
                               </div>
                               <div class="cause__slider-cta">
                                  <div class="cause__progress progress-bar-single">
                                     <div class="cause-progress__intro">
                                        <p><span>Donation</span>
                                           <span class="percent-value">75%</span>
                                        </p>
                                     </div>
                                     <div class="cause-progress__bar">
                                        <div class="progress-bar-wrapper" data-percent="75%">
                                           <div class="progress-bar">
                                              <div class="progress-bar-percent">
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="cause-progress__goal">
                                        <p>Raised: <span class="raised">$8500</span></p>
                                        <p>Goal: <span class="goal">$1,0000</span></p>
                                     </div>
                                  </div>
                                  <div class="cause__cta">
                                     <a href="donate-us.html" aria-label="donate now"
                                        title="donate now" class="btn--secondary">Donate Now</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="swiper-slide">
                         <div class="cause__slider-inner">
                            <div class="cause__slider-single">
                               <div class="thumb">
                                  <a href="cause-details.html">
                                  <img src="assets/images/cause/four.png" alt="Image">
                                  </a>
                                  <div class="tag">
                                     <a href="our-causes.html">Food</a>
                                  </div>
                               </div>
                               <div class="content">
                                  <h6><a href="cause-details.html">Give health support</a></h6>
                                  <p>Lorem ipsum dolor sit amet, consete
                                     sadipscing elitr, sed diam nonum
                                  </p>
                               </div>
                               <div class="cause__slider-cta">
                                  <div class="cause__progress progress-bar-single">
                                     <div class="cause-progress__intro">
                                        <p><span>Donation</span>
                                           <span class="percent-value">65%</span>
                                        </p>
                                     </div>
                                     <div class="cause-progress__bar">
                                        <div class="progress-bar-wrapper" data-percent="65%">
                                           <div class="progress-bar">
                                              <div class="progress-bar-percent">
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="cause-progress__goal">
                                        <p>Raised: <span class="raised">$8500</span></p>
                                        <p>Goal: <span class="goal">$1,0000</span></p>
                                     </div>
                                  </div>
                                  <div class="cause__cta">
                                     <a href="donate-us.html" aria-label="donate now"
                                        title="donate now" class="btn--secondary">Donate Now</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="swiper-slide">
                         <div class="cause__slider-inner">
                            <div class="cause__slider-single">
                               <div class="thumb">
                                  <a href="cause-details.html">
                                  <img src="assets/images/cause/one.png" alt="Image">
                                  </a>
                                  <div class="tag">
                                     <a href="our-causes.html">Health</a>
                                  </div>
                               </div>
                               <div class="content">
                                  <h6><a href="cause-details.html">Children we work with</a></h6>
                                  <p>Lorem ipsum dolor sit amet, consete
                                     sadipscing elitr, sed diam nonum
                                  </p>
                               </div>
                               <div class="cause__slider-cta">
                                  <div class="cause__progress progress-bar-single">
                                     <div class="cause-progress__intro">
                                        <p><span>Donation</span>
                                           <span class="percent-value">85%</span>
                                        </p>
                                     </div>
                                     <div class="cause-progress__bar">
                                        <div class="progress-bar-wrapper" data-percent="85%">
                                           <div class="progress-bar">
                                              <div class="progress-bar-percent">
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="cause-progress__goal">
                                        <p>Raised: <span class="raised">$8500</span></p>
                                        <p>Goal: <span class="goal">$1,0000</span></p>
                                     </div>
                                  </div>
                                  <div class="cause__cta">
                                     <a href="donate-us.html" aria-label="donate now"
                                        title="donate now" class="btn--secondary">Donate Now</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="swiper-slide">
                         <div class="cause__slider-inner">
                            <div class="cause__slider-single">
                               <div class="thumb">
                                  <a href="cause-details.html">
                                  <img src="assets/images/cause/two.png" alt="Image">
                                  </a>
                                  <div class="tag">
                                     <a href="our-causes.html">Food</a>
                                  </div>
                               </div>
                               <div class="content">
                                  <h6><a href="cause-details.html">Help For Education</a></h6>
                                  <p>Lorem ipsum dolor sit amet, consete
                                     sadipscing elitr, sed diam nonum
                                  </p>
                               </div>
                               <div class="cause__slider-cta">
                                  <div class="cause__progress progress-bar-single">
                                     <div class="cause-progress__intro">
                                        <p><span>Donation</span>
                                           <span class="percent-value">90%</span>
                                        </p>
                                     </div>
                                     <div class="cause-progress__bar">
                                        <div class="progress-bar-wrapper" data-percent="90%">
                                           <div class="progress-bar">
                                              <div class="progress-bar-percent">
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="cause-progress__goal">
                                        <p>Raised: <span class="raised">$8500</span></p>
                                        <p>Goal: <span class="goal">$1,0000</span></p>
                                     </div>
                                  </div>
                                  <div class="cause__cta">
                                     <a href="donate-us.html" aria-label="donate now"
                                        title="donate now" class="btn--secondary">Donate Now</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="swiper-slide">
                         <div class="cause__slider-inner">
                            <div class="cause__slider-single">
                               <div class="thumb">
                                  <a href="cause-details.html">
                                  <img src="assets/images/cause/three.png" alt="Image">
                                  </a>
                                  <div class="tag">
                                     <a href="our-causes.html">Health</a>
                                  </div>
                               </div>
                               <div class="content">
                                  <h6><a href="cause-details.html">Help For Food</a></h6>
                                  <p>Lorem ipsum dolor sit amet, consete
                                     sadipscing elitr, sed diam nonum
                                  </p>
                               </div>
                               <div class="cause__slider-cta">
                                  <div class="cause__progress progress-bar-single">
                                     <div class="cause-progress__intro">
                                        <p><span>Donation</span>
                                           <span class="percent-value">75%</span>
                                        </p>
                                     </div>
                                     <div class="cause-progress__bar">
                                        <div class="progress-bar-wrapper" data-percent="75%">
                                           <div class="progress-bar">
                                              <div class="progress-bar-percent">
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="cause-progress__goal">
                                        <p>Raised: <span class="raised">$8500</span></p>
                                        <p>Goal: <span class="goal">$1,0000</span></p>
                                     </div>
                                  </div>
                                  <div class="cause__cta">
                                     <a href="donate-us.html" aria-label="donate now"
                                        title="donate now" class="btn--secondary">Donate Now</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="swiper-slide">
                         <div class="cause__slider-inner">
                            <div class="cause__slider-single">
                               <div class="thumb">
                                  <a href="cause-details.html">
                                  <img src="assets/images/cause/four.png" alt="Image">
                                  </a>
                                  <div class="tag">
                                     <a href="our-causes.html">Food</a>
                                  </div>
                               </div>
                               <div class="content">
                                  <h6><a href="cause-details.html">Give health support</a></h6>
                                  <p>Lorem ipsum dolor sit amet, consete
                                     sadipscing elitr, sed diam nonum
                                  </p>
                               </div>
                               <div class="cause__slider-cta">
                                  <div class="cause__progress progress-bar-single">
                                     <div class="cause-progress__intro">
                                        <p><span>Donation</span>
                                           <span class="percent-value">65%</span>
                                        </p>
                                     </div>
                                     <div class="cause-progress__bar">
                                        <div class="progress-bar-wrapper" data-percent="65%">
                                           <div class="progress-bar">
                                              <div class="progress-bar-percent">
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="cause-progress__goal">
                                        <p>Raised: <span class="raised">$8500</span></p>
                                        <p>Goal: <span class="goal">$1,0000</span></p>
                                     </div>
                                  </div>
                                  <div class="cause__cta">
                                     <a href="donate-us.html" aria-label="donate now"
                                        title="donate now" class="btn--secondary">Donate Now</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-12">
             <div class="cause-pagination pagination-one"></div>
          </div>
       </div>
    </div>
    <div class="spade">
       <img src="assets/images/help/spade.png" alt="Image">
    </div>
 </section>