---

---

<!-- ==== topbar start ==== -->
<div class="topbar topbar--secondary d-none d-lg-block">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="topbar__inner">
               <div class="row align-items-center">
                  <div class="col-12 col-lg-6 col-xxl-4">
                     <div class="topbar__list-wrapper">
                        <ul class="topbar__list">
                           <li>
                              <a href="mailto:sultanbahucentre@hotmail.com"
                                 ><i class="fa-regular fa-envelope"
                                 ></i>sultanbahucentre@hotmail.com</a
                              >
                           </li>
                           <li>
                              <a href="tel:+44 01212463953"
                                 ><i class="fa-solid fa-phone"></i>(+44)
                                 01212463953</a
                              >
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-12 col-xxl-4 d-none d-xxl-block">
                     <!-- <div class="topbar__extra text-center">
                                 <p><i class="icon-heart-hand"></i> Are you ready to help them? Let's become a
                                    volunteer!
                                 </p>
                              </div> -->
                  </div>
                  <div class="col-12 col-lg-6 col-xxl-4">
                     <div class="topbar__items justify-content-end">
                        <div class="social">
                           <a
                              href="https://www.facebook.com/"
                              target="_blank"
                              aria-label="share us on facebook"
                              title="facebook"
                           >
                              <i class="fa-brands fa-facebook-f"></i>
                           </a>

                           <a
                              href="https://x.com/"
                              target="_blank"
                              aria-label="share us on twitter"
                              title="twitter"
                           >
                              <i class="fa-brands fa-twitter"></i>
                           </a>
                           <a
                              href="https://www.linkedin.com/"
                              target="_blank"
                              aria-label="share us on linkedin"
                              title="linkedin"
                           >
                              <i class="fa-brands fa-linkedin-in"></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- ==== / topbar end ==== -->
<!-- ==== header start ==== -->
<header class="header header-secondary " style="padding: 0px 10px 0px 10px;">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="main-header__menu-box">
                  <nav class="navbar">
                    <div class="navbar-logo">
                      <a href="/">
                        <img
                           src="/assets/images/logo.jpg"
                           alt="Sultan Bahu Centre"
                        />
                      </a>
                    </div>
                    <div class="navbar__menu-wrapper">
                      <div class="navbar__menu d-none d-md-block">
                        <ul class="navbar__list">
                           <li class="navbar__item nav-fade">
                             <a href="/">Home</a>
                           </li>
                           <li class="navbar__item nav-fade">
                             <a href="/about">About Us</a>
                           </li>
                           <li class="navbar__item nav-fade">
                              <a href="/masjid-reconstruction">Masjid Reconstruction</a>
                            </li>
                           <!-- <li
                             class="navbar__item navbar__item--has-children nav-fade"
                           >
                             <a
                               href="/appeals"
                               aria-label="dropdown menu"
                               class="navbar__dropdown-label dropdown-label-alter"
                               >Appeals</a
                             >
                             <ul class="navbar__sub-menu">
                               <li>
                                 <a href="/appeals/wudu-khana">Wudu Khana</a>
                               </li>
                               <li>
                                 <a href="/appeals/masjid-carpet"
                                    >Masjid Carpet</a
                                 >
                               </li>
                               <li>
                                 <a href="/appeals/minaret-construction"
                                    >Minaret Construction</a
                                 >
                               </li>
                               <li>
                                 <a href="/appeals/prayer-hall"
                                    >Prayer Hall</a
                                 >
                               </li>
                               <li>
                                 <a href="/appeals/zakat">Zakat</a>
                               </li>
                             </ul>
                           </li> -->
                           <li class="navbar__item nav-fade">
                             <a href="/blogs">Blogs</a>
                           </li>

                           <li class="navbar__item nav-fade">
                             <a href="/contact">Contact Us</a>
                           </li>
                        </ul>
                      </div>
                      <!-- <div class="contact-btn d-none d-md-flex">
                        <div class="contact-icon">
                           <i class="icon-support"></i>
                        </div>
                        <div class="contact-content">
                           <p>Call Us Now</p>
                           <a href="tel:+4401212463953">(+44)01212463953 </a>
                        </div>
                      </div> -->
                    </div>
                  <div class="navbar__options">
                    <div class="navbar__mobile-options d-flex d-md-none">
                     <button
                        class="open-offcanvas-nav"
                        aria-label="toggle mobile menu"
                        title="open offcanvas menu"
                     >
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                     </button>
                    </div>
                    <div class="navbar__desktop-options d-none d-md-flex">
                     <a
                        href="https://sultan-bahu-centre.tscube.co.in/"
                        class="btn--primary"
                        >Donate Now <i class="fa-solid fa-arrow-right"></i></a
                     >
                    </div>
                  </div>
                  </nav>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- ==== / header end ==== -->
<!-- ==== mobile menu start ==== -->
<div class="mobile-menu mobile-menu--primary d-block d-xxl-none">
   <nav class="mobile-menu__wrapper">
      <div class="mobile-menu__header nav-fade">
         <div class="logo">
            <a href="/" aria-label="home page" title="logo">
               <img src="/assets/images/logo.jpg" alt="Image" />
            </a>
         </div>
         <button aria-label="close mobile menu" class="close-mobile-menu">
            <i class="fa-solid fa-xmark"></i>
         </button>
      </div>
      <div class="mobile-menu__list"></div>
      <div class="mobile-menu__cta nav-fade d-block d-md-none">
         <a href="https://sultan-bahu-centre.tscube.co.in/" class="btn--primary"
            >Donate Now <i class="fa-solid fa-arrow-right"></i></a
         >
      </div>
      <div class="mobile-menu__social social nav-fade">
         <a
            href="https://www.facebook.com/"
            target="_blank"
            aria-label="share us on facebook"
            title="facebook"
         >
            <i class="fa-brands fa-facebook-f"></i>
         </a>
         <a
            href="https://vimeo.com/"
            target="_blank"
            aria-label="share us on vimeo"
            title="vimeo"
         >
            <i class="fa-brands fa-vimeo-v"></i>
         </a>
         <a
            href="https://x.com/"
            target="_blank"
            aria-label="share us on twitter"
            title="twitter"
         >
            <i class="fa-brands fa-twitter"></i>
         </a>
         <a
            href="https://www.linkedin.com/"
            target="_blank"
            aria-label="share us on linkedin"
            title="linkedin"
         >
            <i class="fa-brands fa-linkedin-in"></i>
         </a>
      </div>
   </nav>
</div>
<div class="mobile-menu__backdrop"></div>
<!-- ==== / mobile menu end ==== -->
<!-- ==== search popup start ==== -->
<div class="search-popup">
   <button
      class="close-search"
      aria-label="close search box"
      title="close search box"
   >
      <i class="fa-solid fa-xmark"></i>
   </button>
   <form action="#" method="post">
      <div class="search-popup__group">
         <input
            type="text"
            name="search-field"
            id="searchField"
            placeholder="Search...."
            required
         />
         <button
            type="submit"
            aria-label="search products"
            title="search products"
         >
            <i class="fa-solid fa-magnifying-glass"></i>
         </button>
      </div>
   </form>
</div>
<!-- ==== / search popup end ==== -->
