<section class="community">
    <div class="container">
       <div class="row">
          <div class="col-12 col-md-8 col-xl-7">
             <div class="section__header" data-aos="fade-up" data-aos-duration="1000">
                <span class="sub-title"><i class="icon-donation"></i>Start donating poor
                people</span>
                <h2 class="title-animation">Donate for The <span>Masjid</span> Construction
                </h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-12">
             <div class="community-donation" data-aos="fade-up" data-aos-duration="1000">
                <div class="community-donation__inner">
                   <h4>Support Where It Counts.</h4>
                   <!-- <div class="warning">
                      <div class="line"><i class="fa-solid fa-triangle-exclamation"></i></div>
                      <p><strong>Notice:</strong> Test mode is enabled. While in test mode no live
                         donations are processed.
                      </p>
                   </div> -->
                   <div class="donation-form">
                    <div class="donation-form__single">
                        <h5>Your Donation:</h5>
                        <div class="input-group-icon">
                            <div class="thumb">
                                <i class="fa-solid fa-pound-sign"></i>
                            </div>
                            <input type="text" name="donation-amount" id="donationAmount" placeholder="Enter Donation Amount">
                        </div>
                        <button class="donate btn--primary" id="donate" type="submit">
                            Donate Now <i
                            class="fa-solid fa-arrow-right"></i></button>
                        <div class="cta"></div>
                        <div class="made-amount"></div>
                    </div>
                </div>
                </div>
                <div class="community__thumb d-none d-lg-block" data-aos="fade-left"
                   data-aos-duration="1000">
                   <img src="/assets/images/about-6.png" alt="Image">
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="community-bg">
       <img src="/assets/images/about-3.png" alt="Image" class="parallax-image">
    </div>
    <div class="gift" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
       <img src="/assets/images/community/gift.png" alt="Image">
    </div>

 </section>
 <script is:inline>
    document.getElementById('donate').addEventListener('click', function() {
        const amount = parseFloat(document.getElementById('donationAmount').value);
        
        if (!isNaN(amount) && amount > 0) {
            const donationUrl = `https://sultan-bahu-centre.tscube.co.in/zakat-donate?zakat_main=0&amount=${amount}`;
            window.location.href = donationUrl;
        } else {
            alert('Please enter a valid donation amount');
        }
    });
    </script>